<label class="cd-label {{if value 'float'}}" for="{{idAndName}}">{{labelText}}</label>
{{#if textarea}}
  {{textarea
  classBinding="fieldName"
  id=idAndName
  name=idAndName
  required=@required
  type=@type
  value=value}}
{{else}}
  {{#if (eq @type "text")}}
    {{input
      classBinding="fieldName"
      id=idAndName
      name=idAndName
      required=@required
      type="text"
      value=value}}
  {{/if}}
  {{#if (eq @type "email")}}
    {{input
      classBinding="fieldName"
      id=idAndName
      name=idAndName
      required=@required
      type="email"
      value=value}}
  {{/if}}

{{/if}}
