<label class="cd-label {{if value 'float'}}" for="{{fieldName}}">{{labelText}}</label>
{{#if textarea}}
  {{textarea
    classBinding="fieldName"
    id=fieldName
    name=fieldName
    required=required
    type=type
    value=value}}
{{else}}
  {{#if isEmail}}
    {{input
      classBinding="fieldName"
      id=fieldName
      name=fieldName
      required=required
      type="email"
      value=value}}
  {{else}}
    {{input
      classBinding="fieldName"
      id=fieldName
      name=fieldName
      required=required
      type="text"
      value=value}}
  {{/if}}
{{/if}}
