<form class="cd-form floating-labels">
  <fieldset>
    <div class="error-message">
      <p>Please enter a valid email address</p>
    </div>

    {{contact-input
    fieldName="name"
    labelText="Name"
    required=true
    type="text"
    }}

    {{contact-input
    fieldName="company"
    labelText="Company"
    required=false
    type="text"
    }}

    {{contact-input
    fieldName="email"
    labelText="Email"
    required=true
    type="email"
    }}
  </fieldset>

  <fieldset>
    <legend>Project Info</legend>

    <div>
      <h4>Budget</h4>

      <p class="cd-select icon">
        {{contact-select class="budget" options=model.options}}
      </p>
    </div>

    <div>
      <h4>Project type</h4>

      {{form-list
      options=model.radioButtons
      type="radio"}}
    </div>

    <div>
      <h4>Features</h4>

      {{form-list
      options=model.checkboxes
      type="checkbox"}}

    </div>

    {{contact-input
    fieldName="textarea"
    labelText="Project description"
    required=true
    textarea=true
    }}

    <div>
      <input type="submit" value="Send Message">
    </div>
  </fieldset>
</form>
